<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
      <h1>we will be right baack</h1>
      <p>
        The site is currently been updated
      </p>
  </body>
</html>
